* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #0e0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  h1 {
    padding: 35px;
    margin-bottom: 20px;
    color: #f0e6e6;
  }

  .cont{
    /* padding: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Box {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 10px;
    margin-bottom: 20px;
  }

  p{
    color: white;
  }
  
  .card {
    width: 100px;
    height: 120px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    background-size: contain;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card.matched {
    cursor: default;
    pointer-events: none;
    opacity: 0.6;
  }
  
  .front-face, .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .front-face {
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    border: 2px solid #999;
  }
  
  .back-face {
    background: #d10909;
    border: 2px solid #bccaca;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
  }
  
  .TimerMove {
    font-size: 35px;
    margin-top: -80px;
    text-align: center;
    margin-left: 60px;
  }
  
  .TimerMove p {
    margin: 5px 0;
    font-weight: bold;
    /* font-style: italic; */
  }
  